{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
	{% set widget_title = 'Import Company Business Units' | trans %}
{% endif %}

{% block head_title -%}
	{{ widget_title }}
{%- endblock %}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
	{{ backActionButton(url(backCompanyBusinessUnitListButton), 'Back to Company Business Units' | trans) }}
{% endblock %}

{% block content %}

	{% embed '@Gui/Partials/widget.twig' with {widget_title: 'Import Company Business Units' | trans} %}

		{% block widget_content %}
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-3">

					{{ form_start(importForm, {'action': url('/company-business-unit-gui/import/upload')}) }}

					{{ form_row(importForm.fileUpload) }}

					<input type="submit" class="btn btn-primary safe-submit"
					       value="{{ 'Import your CSV file' | trans }}"/>
					<div class="m-b-sm">
						{{ 'Importing a lot of company business units can take some time' | trans }}
					</div>
					{{ form_end(importForm) }}
				</div>
			</div>
		{% endblock %}

	{% endembed %}

{% endblock %}
